<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
	'-//Hibernate/Hibernate Configuration DTD 3.0//EN'
	'http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd'>

<hibernate-configuration>

	<session-factory>
        <mapping class="org.book.account.domain.Account"/>
        <mapping class="org.book.account.domain.Ledger"/>
        <mapping class="org.book.account.domain.Amount"/>
        <mapping class="org.book.account.domain.Budget"/>
        <mapping class="org.book.account.domain.Transaction"/>
        <mapping class="org.book.account.domain.PlannedTransaction"/>
        <mapping class="org.book.account.domain.AccountClosureThresholdPerformanceIndicator"/>
	</session-factory>

</hibernate-configuration>
